<mat-card *ngIf="producto_front" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{'flex':fullWidthMode}">
        <img class="mb-1 mx-auto h-[200px]" 
        [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode}" 
        [src]="producto_front.image">
        <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between':fullWidthMode}">
            <div>
                <br>
                <h5>{{producto_front.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{producto_front.title}}</p>
                <p *ngIf="fullWidthMode">{{producto_front.description}}</p>
            </div>
            <div class="flex justify-between">
                <span class="text-gray-500"> &nbsp; {{producto_front.price|currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon> shopping_cart <span>&nbsp;</span></mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>